*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grids{
    min-height: 100vh;
    display: grid;
    grid-template-columns:repeat(6,100px);
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

div{
    background-color: rgb(247, 235, 73);
    height: 60vh;
    border-radius: 10rem 0 10rem 0 ;
    box-shadow: 0 0 17px black;
}

.item2, .item5{
    height: 60vh;
}

.item1, .item6{
    height: 40vh;
}



