*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
/* div{
    background: radial-gradient(#ff0000, #ff3434,rgb(255, 134, 134),rgb(255, 234, 234));
    height: 100px;
    width: 100px;
    border-radius: 50%;
} */

div{
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    box-shadow: 0 0 0 15px rgb(255, 67, 67),
                0 0 0 30px rgb(253, 88, 88),
                0 0 0 45px rgb(255, 157, 157),
                0 0 0 60px rgb(255, 179, 179),
                0 0 0 75px rgb(255, 238, 238);

}
